.titlebox {
  background: yellow;
  width: 100%;
  position: relative;
  padding: 0.5rem;
}

.titlebox a {
  text-align: right;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
}

.content {
  padding: 2rem;
}
